* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Commissioner', sans-serif;
}
header {
    background-image: url(/images/image-hero-desktop.jpg);
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.logo {
    padding: 5px;
    margin: 3px;
}

.menu-list {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
}

.menu-list ul {
    display: flex;
    list-style: none;
    color: white;
}

.menu-list li a {
    letter-spacing: 3px;
    list-style: none;
    color: white;
    text-decoration: none;
    padding: 5px;
    font-weight: 400;
    transition: 0.6s
}
.menu-list li a:hover {
    opacity: 0.5;
}
.menu-mobile {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url(/images/icon-hamburger.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: 0.3s;
    display: none;
}

#hamburguer:checked + .hamburguer .menu-mobile {
    background: url(/images/icon-close-menu.svg);
    background-repeat: no-repeat;
    background-position: center;
}
#hamburguer {
    display: none;
}
main {
    position: relative;
    background: hsl(0, 0%, 93%);
    width: 100%;
}
.logo-m {
    position: relative;
    top: -30px;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    padding: 10px;
    border-radius: 7px;
    margin: 10px;
}
.master {
    position: relative;
    top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.master h3 {
    color: black;
    font-weight: 700;
}
.master span {
    color: gray;
}
.botoes {
    display: flex;
    margin-top: 5px;
    justify-content: space-around;
    width: 100%;
}
.botoes button {
    border: none;
    padding: 0px 10px;
    border-radius: 30px;
    background: darkcyan;
    color: white;
    transition: 0.6s
}
.botoes button:hover {
    background: rgb(0, 187, 187);
}
.checkbox {
    display: none;
}
.switch {
    display: flex;
    align-items: center;
    background: rgb(216, 216, 216);
    height: 45px;
    width: 150px;
    border-radius: 30px;
    justify-content: start;
}
.switch img {
    height: 45px;
    width: 45px;
}
.switch p {
    margin-top: 8px;
    margin-left: 10px;
    font-weight: 700;
    color: rgb(112, 112, 112);
}
.cash {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.prices {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.prices h3 {
    font-weight: 700;
}
.prices p {
    color: gray;
    font-weight: 500;
    font-size: 16px;
}
.linha-vertical {
    height: 60px;/*Altura da linha*/
    border-left: 1px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    color: rgb(190, 190, 190);
}
.barra {
    width: 90%;
    height: 15px;
    background: hsl(240, 2%, 89%);
    border-radius: 30px;
    margin-bottom: 20px;
}
.fill{
    height: 15px;
    border-radius: 30px;
    width: 85%;
    background: darkcyan;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.text-about {
    justify-content: center;
    align-items: center;
    display: block;
    margin: 15px; 
    width: 90%;
}
.text-about h5{
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
}
.cards {
    display: flex;
    flex-direction: column;
    border: 2px solid gainsboro;
    border-radius: 10px;
    width: 90%;
    margin-bottom: 10px;
}
.title-card {
    display: flex;
    justify-content: space-between;
    margin: 8px;
}
.title-card h5 {
    font-weight: 700;
    color: black;
}
.title-card span {
    color: darkcyan;
    font-size: 16px;
    font-weight: 500;
}
.text-conteudo  {
    display: block;
    margin: 8px;
}
.btn-card {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
.btn-card p span {
    color: gray;
    font-size: 14px;
    font-weight: 500;
}
.btn-card p {
    color: black;
    font-weight: 700;
    font-size: 25px;
}
.btn-card button {
    border: none;
    background: darkcyan;
    color: white;
    border-radius: 30px;
    width: 150px;
    height: 45px;
    font-size: 14px;
    transition: 0.6s;
}

.card-1 .btn-card button:hover, .card-2 .btn-card button:hover {
    cursor: pointer;
    background: rgb(0, 177, 177);
}

.card-3 {
    opacity: 0.35;
    cursor: default;
}
.card-3 .btn-card button {
    cursor: default;
    background: rgb(151, 151, 151);
}

/* START---------- MODAL*/

.modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-container.active {
    pointer-events: auto;
    top: 0;
    left: 0;
}
.modal-container.active .backdrop {
    opacity: 1;
}
.modal-container.active .content {
    top: 0%;
}
.backdrop {
    background: hsla(0, 0%, 0%, 0.651);
    height: 150%;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    transition:  0.3s ease-out;
    z-index: 1;
}
.content {
    background: white;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    transition: top 0.4s ease-out;
    top: 100%;
    z-index: 2;
}

.cards-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.close-modal {
    position: absolute;
    right: 50px;
    top: 10px;
    padding: 5px;
    cursor: pointer;
    z-index: 3;
}
.modal-title {
    display: block;
}
.modal-title h4 {
    font-weight: 700;
    color: black;
    font-size: 20px;
}
.modal-title span {
    font-weight: 500;
    color: gray;
}
.boxcard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 81%);
    margin-bottom: 10px;
    cursor: pointer;
}
.cardmd-4 {
    pointer-events: none;
    opacity: 0.50;
}
.text-modal {
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(146, 146, 146);
}
.custom-radio-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgb(185, 185, 185);
    cursor: pointer;
    margin-right: 3px;
}
.custom-radio-btn input {
    display: none;
}
.custom-radio-btn .circle {
    content: "";
    background-color: darkcyan;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: relative;
    top: -3px;
    left: 1px;
    display: none;
}
.custom-radio-btn input:checked + .circle {
    display: inline-block;
}
.ops {
    display: flex;
    padding: 5px;
    width: 100%;
}
.ops span {
    display: flex;
    color: black;
    font-weight: 700;
    margin-right: 5px;
}
.ops span:hover {
    color: darkcyan;
}
.ops p {
    color: darkcyan;
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
}

@media (max-width: 576px) {
    header {
        background-image: url(/images/image-hero-mobile.jpg);
        background-position: center;
        height: 300px;
    }
    #mobile {
        position: absolute;
        display: block;
        border-radius: 10px;
        background: white;
        top: 90%;
        right: 5%;
        padding: 30px 10px;
        width: 90%;
        opacity: 0;
        
    }
    #mobile a {
        color: black;
        font-size: 16px;
        font-weight: 600;
    }
    #mobile li:hover {
        background: rgb(190, 190, 190);
    }
    #mobile.active {
        opacity: 1;
        transition: 0.3s;
    }
    .menu-mobile{
        display: flex;
        right: -80px;
    }
    .botoes button {
        font-size: 12px;
    }
    .switch {
        width: 100px;
        height: 30px;
    }
    .switch img {
        width: 30px;
        height: 30px;
    }
    .switch p {
        font-size: 14px;
        margin: 0px;
    }

    /*START --- MODAL*/
    .modal-title h4 {
        font-size: 14px;
    }
    .modal-title span {
        font-size: 14px;
        font-weight: 700;
    }
    
    .ops span {
        font-size: 14px;
        font-weight: 700;
    }
    .ops p {
        font-size: 13px;
    }

    .custom-radio-btn {
        width: 18px;
        height: 18px;
    }
    .custom-radio-btn .circle {
        width: 12px;
        height: 12px;
        top: -6px;
        left: 1px;
    }
}